// IMPORT BOOTSTRAP
@import "/node_modules/bootstrap/scss/bootstrap";

// IMPORT VARIABLES
@import "/src/style/partials/variables.scss";

// COMMON
body {
  height: 100vh;
  background: linear-gradient(to top, #000000, #dadbd4 50%);
}

// TYPOGRAPHY
body {
  font-size: 1rem;
}
